body {
  margin: 0;
  background: #050b14;
  color: white;
  font-family: Arial;
  text-align: center;
}

.app {
  padding-top: 20px;
}

#tap-btn {
  width: 260px;
  height: 260px;
  border-radius: 50%;
  margin: 30px auto;
}

.top {
  display: flex;
  justify-content: space-around;
  font-size: 18px;
}

button {
  background: #1e7cff;
  color: white;
  border: none;
  padding: 12px 30px;
  border-radius: 12px;
}
