body {
  background:#050b14;
  color:white;
  text-align:center;
  font-family:Arial;
}
img {
  width:250px;
  border-radius:50%;
}
button {
  display:block;
  margin:10px auto;
  padding:10px 30px;
  background:#1e7cff;
  border:none;
  color:white;
  border-radius:10px;
}
